@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;700;0&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-white: #d12f7a;
    --color-white: #073fcc;
    --color-white: #0c0c0c;
    --color-white: #5f01ac;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

#person {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: #2e3a46;
}

.person-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(22, 22, 37);
}



.person-content div h1 {
    color: transparent;
    padding: 0px 4px;
    font-size: 4.5rem;
    line-height: 6rem;

    animation: written_tex .5s ease forwards;
}

.person-content div h1:nth-child(1){
    animation-delay: 1s;
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;
}
.person-content div h1:nth-child(3){
    animation-delay: 3s;
}


.person-name {
    margin-top: 11rem;
}

.stacks-content {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;

}

.stacks-content h3 {
    color: white;
    font-size: 1.15rem;
    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;

}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li  img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: white;
}

.person-background {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

    background-image: url(./img/imagem-de-fundo.jpg);
    background-size: cover;
    background-position: top center;

    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: -1;
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/

    padding: 14px;
    margin: 20px 15px;

    border-radius: 50%;

    background:
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 68%, transparent 0),
        linear-gradient(to top right, #ffa500 0%, #ff1493 100%);

    width: 300px;
}

.wrapper-profile-photo img {
    width: 100%;
    border-radius: 50%;
}

.links a img {
    width: 30px;
    height: 30px;

    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.15);
    filter: brightness(1);

}

.about {
    height: 100vh;
    width: 100%;
    background: black;

    display: flex;
    color: white;
}

.background-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    height: 100%;
    width: 100%;

    position: relative;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
}

.img-wrapper img {
    height: 100vh;
    width: 100%;

    object-fit: cover;
}

.box-about{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    padding: 3rem;
    background: rgb(22, 22, 37);
}

.section-subtitle h2 {
    margin: 3rem;
}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
    color: #5f01ac;
}

.section-subtitle h2 p:nth-child(2) span {
    padding: 3px 5px;
    border-radius: 4px;
    
    color: #5f01ac;
    background: rgb(22, 22, 37);
}

.box-about h3 {
    display: block;
    margin: 3rem;
    font-size: 2rem;
    color: #5f01ac;
}

.box-about h3 p {
    display: inline-block;

    width: fit-content;
    border-radius: 4px;

    color: #5f01ac;
    background: rgb(22, 22, 37);
}

.box-about h4 {
    margin: 1rem 3rem;
    font-size: 1.5rem;
    color: #5f01ac;
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;

    color:#fff;
    font-size: bold;
    font-weight: 1.75rem;
}

.button-cta {
    display: flex;
    max-width: 190px;

    margin: 4rem 3rem;
}

.button-cta button {
    display: inline-block;

    width: 100%;
    max-width: 172%;

    padding: 10px;
    margin-bottom: 3rem;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;

    border-radius: 10px;
    cursor: pointer;
}

.button-cta button:hover {
    transition: all .3s ease;
    filter: brightness(.8);
}

#about {
    display: flex;  
}

.education {
    
}

#education {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: black;
    flex-direction: column;
    color: #5f01ac;
}


@keyframes written_tex {
    100% {
        color: var( --color-white);
    }
}